<div class="container">
  <div class="container">
    <div class="grid grid-cols-3 gap-4">

      <% @lists.each do |list| %>
        <div class="card bg-base-100 w-96 shadow-sm">
          <figure class="px-10 pt-10">
             <%= image_tag(
                              list.bookmarks.count > 0 ? list.movies.first.poster_url : "https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp",
                              class: "w-full h-full object-cover"
                            ) %>
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title capitalize"></h2>
            <div class="card-actions">
              <%= link_to list.name , list_path(list.id), :class => "capitalize text-2xl btn" %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <div class="card card-border bg-base-100 mt-5  ">
    <div class="card-body">
      <%= simple_form_for @newList do |f|%>
        <%= f.input :name, placeholder: 'list name',  wrapper_html: { class: 'm-4' } %>
        <%= f.button :submit %>
      <% end %>
    </div>


  </div>
</div>
